{% extends './layout.html' %}
{% block header %}欢迎来到用户中心~{% endblock %}

{% block content %}
 <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4><a href="/home/comments" class="link">评论管理</a></h4>
              <span class="text-muted">User Comment Management</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4><a href="home/repassword" class="link"></a>修改密码</h4>
              <span class="text-muted">change password</span>
            </div>
    
{% endblock %}