<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>妖尾动漫专题网站</title>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top kz-navbar" id="kz-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">妖精の尾巴</a>
      </div>

      <div class="collapse navbar-collapse" id="top-nav">
        <ul class="nav navbar-nav">
          <li><a href="index.html">首页</a></li>
          <li class="active"><a href="list.html">妖尾资讯</a></li>
          <li><a href="#">妖尾资料</a></li>
          <li><a href="#">最新动漫</a></li>
          <li><a href="#">热门动漫</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="main">
     <div class="container">
        <div class="row">
           <div class="col-md-8">
              <div class="panel panel-default content-item">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a href="">动漫资讯</a>
                    </h3>
                  </div>
                  <div class="panel-body">
                    1111111111111111111111111111111111111111111111111111111111111111111111
                  </div>
                   <div class="panel-footer">
                      <span class="glyphicon glyphicon-user"></span>
                      <span class="content-footer-text text-muted">Tom</span>
                      <span class="glyphicon glyphicon-th-list"></span>
                      <span class="content-footer-text text-muted">JavaScript</span>
                      <span class="glyphicon glyphicon-time"></span>
                      <span class="content-footer-text text-muted">2018-07-01</span>
                      <span class="glyphicon glyphicon-eye-open"></span>
                      <span class="content-footer-text text-muted"><em>1000</em>已阅读</span>
                   </div>
              </div>
              <div class="panel panel-default content-item">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a href="">动漫资讯</a>
                    </h3>
                  </div>
                  <div class="panel-body">
                    1111111111111111111111111111111111111111111111111111111111111111111111
                  </div>
                   <div class="panel-footer">
                      <span class="glyphicon glyphicon-user"></span>
                      <span class="content-footer-text text-muted">Tom</span>
                      <span class="glyphicon glyphicon-th-list"></span>
                      <span class="content-footer-text text-muted">JavaScript</span>
                      <span class="glyphicon glyphicon-time"></span>
                      <span class="content-footer-text text-muted">2018-07-01</span>
                      <span class="glyphicon glyphicon-eye-open"></span>
                      <span class="content-footer-text text-muted"><em>1000</em>已阅读</span>
                   </div>
              </div>
              <div class="panel panel-default content-item">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a href="">动漫资讯</a>
                    </h3>
                  </div>
                  <div class="panel-body">
                    1111111111111111111111111111111111111111111111111111111111111111111111
                  </div>
                   <div class="panel-footer">
                      <span class="glyphicon glyphicon-user"></span>
                      <span class="content-footer-text text-muted">Tom</span>
                      <span class="glyphicon glyphicon-th-list"></span>
                      <span class="content-footer-text text-muted">JavaScript</span>
                      <span class="glyphicon glyphicon-time"></span>
                      <span class="content-footer-text text-muted">2018-07-01</span>
                      <span class="glyphicon glyphicon-eye-open"></span>
                      <span class="content-footer-text text-muted"><em>1000</em>已阅读</span>
                   </div>
              </div>
              <div class="panel panel-default content-item">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a href="">动漫资讯</a>
                    </h3>
                  </div>
                  <div class="panel-body">
                    1111111111111111111111111111111111111111111111111111111111111111111111
                  </div>
                   <div class="panel-footer">
                      <span class="glyphicon glyphicon-user"></span>
                      <span class="content-footer-text text-muted">Tom</span>
                      <span class="glyphicon glyphicon-th-list"></span>
                      <span class="content-footer-text text-muted">JavaScript</span>
                      <span class="glyphicon glyphicon-time"></span>
                      <span class="content-footer-text text-muted">2018-07-01</span>
                      <span class="glyphicon glyphicon-eye-open"></span>
                      <span class="content-footer-text text-muted"><em>1000</em>已阅读</span>
                   </div>
              </div>
              <nav aria-label="Page navigation" id="page">
                  <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
              </nav>
           </div>
           <div class="col-md-4 hidden-xs hidden-xm">
               <div class="ad">
                   <a href="#" class="thumbnail">
                      <img class="img-responsive" src="img/s1.jpg">
                   </a>
               </div>
               <div class="ad">
                 <a href="#" class="thumbnail">
                    <img class="img-responsive" src="img/s2.jpg">
                 </a>                
               </div>
               <div class="panel panel-default custom-panel">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>动漫介绍</strong></h3>
                  </div>
                  <div class="panel-body">
                    妖精の尾巴
                  </div>
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object img-circle media-my-logo" src="img/media-logo2.jpg">
                      </a>
                    </div>
                    <div class="media-body">
                      <p class="media-heading">     
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《妖精的尾巴》是日本漫画家真岛浩创作的少年漫画。该作品讲述了魔导士公会“妖精的尾巴”的成员露西、纳兹、哈比、格雷、艾露莎和他们的众多伙伴们在这个魔法世界中的一系列热血故事。
                      </p>
                    </div>
                  </div>
               </div>
               <div class="panel panel-default custom-panel panel-list">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>动漫排行</strong></h3>
                  </div>
                  <div class="panel-body">
                     <ul class="list-group">
                        <li class="list-group-item"><a href="#" class="link text-ellipsis">Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in</a></li>
                        <li class="list-group-item"><a href="#" class="link text-ellipsis">Dapibus ac facilisis in</a></li>
                        <li class="list-group-item"><a href="#" class="link text-ellipsis">Dapibus ac facilisis in</a></li>
                        <li class="list-group-item"><a href="#" class="link text-ellipsis">Dapibus ac facilisis in</a></li>
                        <li class="list-group-item"><a href="#" class="link text-ellipsis">Dapibus ac facilisis in</a></li>
                      </ul>
                  </div>
               </div>
               <div class="panel panel-default custom-panel panel-gz">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>关注我</strong></h3>
                  </div>
                  <div class="panel-body">
                     <img src="img/s1.jpg" class="img-responsive">
                  </div>
               </div>
           </div>
        </div>
     </div>
  </div>
  <footer class="footer-txt">
     Copyright ⓒ 2014-2015 风之动漫 版本beta 0.4
  </footer>
</body>
<script src="lib/jQuery/jquery-1.12.4.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
</html>