{% extends './layout.html' %}
{% block title %}
妖尾动漫专题视频资料站
{% endblock %}
{% block content %}



		 <div class="panel-heading">
		    <p class="panel-title" style="margin-top: 0px;font-size: 30px;font-weight: 600;">视频资料</p>
		</div>

		 <video id="sp1-mp4" controls style="width: 700px;height: 525px;margin-bottom: 50px;" poster="img/s1.jpg">
			<source src="img/yw1~1.mp4" type="video/mp4"></source>
		</video> 

		    <div class="panel-heading">
			    <p class="panel-title" style="margin-top: 0px;font-size: 30px;font-weight: 600;margin-bottom: 20px;">更多视频</p>
			</div>

<!-- <button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button> -->
<div style="width: 800px;float: left;">
	<button style="margin-bottom: 20px;width: 80px;margin-right: 5px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" id="sp1" data-placement="top" title="第一集 妖精的尾巴">第1集</button>
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="margin-left: 20%;margin-top: 5%;">
		 <div class="modal-dialog modal-lg" role="document">
			 <div class="modal-content" style="border-radius: 10px;">
			 	  <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">第1集 妖精的尾巴</h4>
			      </div>
				  <video id="sp1-mp4" controls style="width: 100%;height: 100%;border-radius: 10px;">
						<source src="img/yw1~1.mp4" type="video/mp4"></source>
				  </video>
			 </div>
		 </div>

	</div>
    
	<button style="margin-bottom: 20px;width: 80px;margin-right: 5px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" id="sp1" data-placement="top" title="第一集 妖精的尾巴">第2集</button>
	<button style="margin-bottom: 20px;width: 80px;margin-right: 5px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" id="sp1" data-placement="top" title="第一集 妖精的尾巴">第3集</button>
	<button style="margin-bottom: 20px;width: 80px;margin-right: 5px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" id="sp1" data-placement="top" title="第一集 妖精的尾巴">第4集</button>
	<button style="margin-bottom: 20px;width: 80px;margin-right: 5px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" id="sp1" data-placement="top" title="第一集 妖精的尾巴">第5集</button>
	<button style="margin-bottom: 20px;width: 80px;margin-right: 5px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" id="sp1" data-placement="top" title="第一集 妖精的尾巴">第6集</button>
	<button style="margin-bottom: 20px;width: 80px;margin-right: 5px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" id="sp1" data-placement="top" title="第一集 妖精的尾巴">第7集</button>
	<button style="margin-bottom: 20px;width: 80px;margin-right: 5px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" id="sp1" data-placement="top" title="第一集 妖精的尾巴">第8集</button>

	<button style="margin-bottom: 20px;width: 80px;margin-right: 5px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" id="sp1" data-placement="top" title="第一集 妖精的尾巴">第9集</button>
	<button style="margin-bottom: 20px;width: 80px;margin-right: 5px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" id="sp1" data-placement="top" title="第一集 妖精的尾巴">第10集</button>
	<button style="margin-bottom: 20px;width: 80px;margin-right: 5px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" id="sp1" data-placement="top" title="第一集 妖精的尾巴">第11集</button>

   <div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-default" style="margin-bottom: 20px;width: 40px;margin-right: 5px;">...</button>
	</div>


		


</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="javascript:;" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="javascript:;">1</a></li>
    <li>
      <a href="javascript:;" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>










<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">模态框</button>
 
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
 <div class="modal-dialog modal-lg" role="document">
 <div class="modal-content">
 	<video src="/img/yw1.mp4"></video>
 	<img src="/img/s1.jpg" alt="">
    <video src="/img/yw1.mp4" height="500" controls preload="metadata"></video>
 </div>
 </div>
</div> -->


{% endblock %}