<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
    
  </title>
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/index.css">
 
</head>
<body>
	   <div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
</body>
<script src="/lib/jQuery/jquery-1.12.4.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/moment/moment.js"></script>
<script src="/js/before-page.js"></script>
<script src="/js/index.js"></script>
</html>